html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  margin: 0;
}

.results {
  position: relative;
  height: 100%;
/*  background-color: #d9d9d9;*/
}

.popup {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
}

.show-popup .popup {
  opacity: 1;
  visibility: visible;
}

.popup > iframe {
  position: absolute;
  top: 50px;
  left: 40%;
  margin-left: -280px;
}

.inner{
  width: 33%;
}

.outter{
  width:  50%;
}

img {
    position: relative;
    float: left;
    width:  100%;
    height: 150px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.box{
  margin-left: 40%;
  margin-bottom: 40px;
}
 
.inputbar{
  width: 25%;

}

.submitbtn{

}

.result-title{
  margin-bottom: 0;
  font-size: 1.4em;
  color:#666666;
}

.result-url{
  margin-bottom: 2px;
  font-size: 1.2em;
  color:#666666;
}
.result-row{
  background-color: inherit;
  margin-bottom: 5%;
}
.results {
  margin-left: 5%;
  margin-right: 5%;
  /*background-color: #c9c3b9;*/
}
